In [71]:
import pandas as pd

In [72]:
d1 = pd.read_csv('origin data\\kolesa_cars1.csv')
d2 = pd.read_csv('origin data\\kolesa_cars2.csv')
d3 = pd.read_csv('origin data\\kolesa_cars3.csv')

In [73]:
d1.head(5)

,title,price,year,body_type,volume,fuel,gearbox,type
0,ВАЗ (Lada) Largus Cross,5 500 000 ₸,2018,универсал,1.6,бензин,механика,Б/у
1,ВАЗ (Lada) Granta 2190,2 500 000 ₸,2013,седан,1.6,бензин,автомат,Б/у
2,ВАЗ (Lada) 2107,1 800 000 ₸,2011,седан,1.7,бензин,механика,Б/у
3,ВАЗ (Lada) 2110,900 000 ₸,2001,седан,1.5,бензин,механика,Б/у
4,ВАЗ (Lada) Granta 2190,2 000 000 ₸,2014,седан,1.6,бензин,механика,Б/у

In [74]:
d2.head(5)

,title,price,year,body_type,volume,fuel,gearbox,type
0,Toyota Land Cruiser,10 000 000 ₸,2006,внедорожник,4.7,бензин,автомат,Б/у
1,Toyota Camry,5 500 000 ₸,2006,седан,2.4,бензин,автомат,Б/у
2,Toyota Camry,22 950 000 ₸,2025,седан,2.5,бензин,автомат,Б/у
3,Toyota Camry,2 700 000 ₸,1998,седан,2.2,бензин,автомат,Б/у
4,Toyota Camry,2 500 000 ₸,1993,седан,2.2,бензин,механика,Б/у

In [75]:
d3.head(5)

,title,price,year,body_type,volume,fuel,gearbox,type
0,Toyota Camry,12 000 000 ₸,2020,седан,2,бензин,автомат,Б/у
1,Toyota Camry,12 500 000 ₸,2013,седан,2.5,бензин,автомат,Б/у
2,Toyota RAV4,13 300 000 ₸,2019,кроссовер,2,бензин,вариатор,Б/у
3,Toyota Highlander,7 000 000 ₸,2005,кроссовер,3.3,бензин,автомат,Б/у
4,Toyota 4Runner,23 000 000 ₸,2022,внедорожник,4,бензин,автомат,Б/у

In [76]:
splits1 = d1['title'].str.split(' ', expand=True)
splits2 = d2['title'].str.split(' ', expand=True)
splits3 = d3['title'].str.split(' ', expand=True)

In [77]:
d1['brand'] = splits1[0]
d2['brand'] = splits2[0]
d3['brand'] = splits3[0]

d1['model'] = splits1.iloc[:, 2:].apply(lambda x: ' '.join(x.dropna().astype(str)), axis=1)
d2['model'] = splits2.iloc[:, 1:].apply(lambda x: ' '.join(x.dropna().astype(str)), axis=1)
d3['model'] = splits3.iloc[:, 1:].apply(lambda x: ' '.join(x.dropna().astype(str)), axis=1)

In [78]:
d1 = d1.drop(columns=['title'])
d2 = d2.drop(columns=['title'])
d3 = d3.drop(columns=['title'])

In [79]:
df = pd.concat([d1, d2, d3], ignore_index=True)

In [80]:
df[50:70]

,price,year,body_type,volume,fuel,gearbox,type,brand,model
50,650 000 ₸,2004,седан,1.5,бензин,механика,Б/у,ВАЗ,2115
51,2 700 000 ₸,2011,хэтчбек,1.6,бензин,механика,Б/у,ВАЗ,2114
52,390 000 ₸,1993,седан,1.5,бензин,механика,Б/у,ВАЗ,21099
53,2 800 000 ₸,На заказ,г.,Б/у внедорожник,1.7 л,бензин,2017,ВАЗ,Lada 2121
54,3 900 000 ₸,2014,универсал,1.6,газ-бензин,механика,Б/у,ВАЗ,Largus
55,2 700 000 ₸,2017,седан,1.8,бензин,робот,Б/у,ВАЗ,Vesta
56,2 100 000 ₸,2013,универсал,1.6,бензин,механика,Б/у,ВАЗ,Priora 2171
57,2 300 000 ₸,2014,седан,1.6,бензин,механика,Б/у,ВАЗ,Priora 2170
58,3 600 000 ₸,2015,универсал,1.6,бензин,механика,Б/у,ВАЗ,Largus
59,4 800 000 ₸,2024,седан,1.6,бензин,механика,Б/у,ВАЗ,Granta 2190
60,2 700 000 ₸,2015,внедорожник,1.7,газ-бензин,механика,Б/у,ВАЗ,Lada 2121
61,1 300 000 ₸,2012,хэтчбек,1.6,бензин,механика,Б/у,ВАЗ,2114
62,3 800 000 ₸,2020,внедорожник,1.7,бензин,механика,Б/у,ВАЗ,Niva Travel
63,2 000 000 ₸,2012,седан,1.6,бензин,механика,Б/у,ВАЗ,2115
64,2 800 000 ₸,2014,седан,1.6,бензин,механика,Б/у,ВАЗ,Priora 2170
65,3 000 000 ₸,2017,седан,1.6,бензин,механика,Б/у,ВАЗ,Granta 2190
66,2 780 000 ₸,2020,седан,1.6,бензин,механика,Б/у,ВАЗ,Granta 2190
67,2 900 000 ₸,2015,седан,1.6,бензин,механика,Б/у,ВАЗ,Priora 2170
68,2 200 000 ₸,2012,седан,1.6,бензин,механика,Б/у,ВАЗ,Priora 2170
69,4 950 000 ₸,2019,универсал,1.6,бензин,механика,Б/у,ВАЗ,Largus Cross

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10780 entries, 0 to 10779
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   price      10780 non-null  object
 1   year       10780 non-null  object
 2   body_type  10780 non-null  object
 3   volume     10780 non-null  object
 4   fuel       10780 non-null  object
 5   gearbox    10780 non-null  object
 6   type       10780 non-null  object
 7   brand      10780 non-null  object
 8   model      10780 non-null  object
dtypes: object(9)
memory usage: 758.1+ KB

In [82]:
df['year'].unique()

array(['2018', '2013', '2011', '2001', '2014', '2012', '2021', '2003',
       '2020', 'На заказ', '2004', '2015', '2000', '1997', '2008', '2017',
       '1993', '2024', '2019', '2006', '2007', '1998', '2010', '2002',
       '2005', '2022', '1999', '2025', '2023', '2009', '1981', '1994',
       '2016', '1974', '1992', '1989', '1976', '1985', '1996', '1995',
       '1986', '1984', '1983', '1988', '1991', '1987', '1978', '1990',
       '1975', '1973', '1982', '1972', '2026'], dtype=object)

In [83]:
df = df[df['year'] != 'На заказ']

In [84]:
df['year'] = pd.to_numeric(df['year'])

In [85]:
df['volume'].unique()

array(['1.6', '1.7', '1.5', '1.8', '1.3', '1.4', '1.2', '8', '1.66',
       'эектричество', '1.59', '0.7', '2.5', '1', '2', '4.7', '2.4',
       '2.2', '5.7', '2.7', '4', '3', '3.5', '4.5', '4.6', '3.3', '3.4',
       '2.8', '4.3', '4.2', '4.8'], dtype=object)

In [86]:
df = df[df['volume'] != 'эектричество']
df['volume'] = pd.to_numeric(df['volume'])

In [87]:
df['price'] = df['price'].astype(str).str.replace(r'\D+', '', regex=True)
df['price'] = pd.to_numeric(df['price'])

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10572 entries, 0 to 10779
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   price      10572 non-null  int64
 1   year       10572 non-null  int64
 2   body_type  10572 non-null  object
 3   volume     10572 non-null  float64
 4   fuel       10572 non-null  object
 5   gearbox    10572 non-null  object
 6   type       10572 non-null  object
 7   brand      10572 non-null  object
 8   model      10572 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 825.9+ KB

In [89]:
df.drop_duplicates(inplace=True)

In [90]:
df.to_csv('kolesa_cars.csv', index=False, encoding='utf-8-sig')